<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.stormlion.ImageCropperTest" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="29" />
	<application android:label="Test.Android">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.stormlion.ImageCropperTest.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat" />
	</application>
</manifest>